@import "compass"
@import "reset"

@import "lib/*"
@import "devise/*"
@import "home/*"
@import "profile/*"

html, a
  font-family: "opensans", "sans-serif"

h2
  margin-bottom: 20px
a
  color: #000000
  font-size: 18px

#wrapper
  max-width: 980px
  margin: auto
  padding: 0 20px
